@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;400&display=swap");

:root {
  --black: #000;
  --darkBrown: #8f722f;
  --brown: #dec17a;
  --white: #fff;
  --orange: #f92;
  --fontSerif: "Lobster";
  --fontSanSerif: "Open Sans";
}

html {
  background-color: var(--brown);
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", cursive;
}
