:root {
  --black: #000000;
  --darkBrown: #8f722f;
  --brown: #dec17a;
  --white: #ffffff;
  --orange: #ff9922;
  --radiusSm: 4px;
  --radiusMd: 6px;
  --radiusLg: 8px;
  --spacingSm: 1rem;
  --spacingMd: 2rem;
  --spacingLg: 3rem;
  --fontSerif: 'Lobster';
  --fontSanSerif: 'Open Sans';
}

html {
  margin: 0;
  padding: 0;
  background-color: var(--brown);
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
}