:root {
  --black: #000;
  --darkBrown: #8f722f;
  --brown: #dec17a;
  --white: #fff;
  --orange: #f92;
  --radiusSm: 4px;
  --radiusMd: 6px;
  --radiusLg: 8px;
  --spacingSm: 1rem;
  --spacingMd: 2rem;
  --spacingLg: 3rem;
  --fontSerif: 'Lobster';
  --fontSanSerif: 'Open Sans';
}

html {
  background-color: var(--brown);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lobster', cursive;
}
